.Button {
  border: none;
  font-size: 16px;
  padding: 10px 20px;
}

.Button:hover {
  cursor: pointer;
}

.Button--variant--primary {
  background-color: #4c7aa9;
  color: #fff;
}

.Button--variant--primary:hover {
  background-color: #306296;
}

.Button--variant--primary[disabled] {
  background-color: #eae1e1;
  color: #545252;
}

.Button--variant--secondary {
  background-color: #e6b4db;
  color: #fff;
}

.Button--variant--secondary:hover {
  background-color: #bd76ae;
}

.Button--variant--secondary[disabled] {
  background-color: #eae1e1;
  color: #545252;
}

.Button[disabled] {
  cursor: not-allowed;
}

.Button--fullWidth {
  width: 100%;
}
